<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolke</title>
    <link rel="stylesheet" href="./styles/styles.css" type="text/css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/" title="Wolke">Wolke</a>
            </li>
            <li>
                <a href="/storage" title="Storage">Storage</a>
            </li>
            <li>
                <a href="/log" title="File History">File History</a>
            </li>
            <li>
                <a href="/profile" title="Profile">Profile</a>
            </li>
        </ul>
    </nav>
    {{{ body }}}

    <script src="/script.js"></script>
</body>
</html>
